/* @import "~antd/dist/antd.css"; */
html {
    overflow-x: auto;
    overflow-y: scroll;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft JhengHei",SimSun,sans-serif;
}
h1,
h2,
h3,
h4,
h4,
h5 {
    margin: 0;
    padding: 0;
}
select {
    font-size: 12px;
}
table {
    border-collapse: collapse;
}
fieldset,
img {
    border: 0 none;
}
fieldset {
    margin: 0;
    padding: 0;
}
fieldset p {
    margin: 0;
    padding: 0 0 0 8px;
}
legend {
    display: none;
}
address,
caption,
em,
strong,
th,
i {
    font-style: normal;
    font-weight: 400;
}
table caption {
    margin-left: -1px;
}
hr {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #e4e4e4;
    border-width: 1px 0;
    clear: both;
    height: 2px;
    margin: 5px 0;
    overflow: hidden;
}
ol,
input,
button,
textarea,
select,
optgroup,
option {
    outline-style: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
caption,
th {
    text-align: left;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: ””;
}
.juzhong {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.czjuzhong {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.addbackBlur::after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}
@keyframes light {
    0% {
        box-shadow: 0 0 4px #f00;
    }

    25% {
        box-shadow: 0 0 5px #0f0;
    }

    50% {
        box-shadow: 0 0 4px #00f;
    }

    75% {
        box-shadow: 0 0 5px #0f0;
    }

    100% {
        box-shadow: 0 0 4px #f00;
    }
}
.aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #aaa;
    height: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    animation: light 2s ease-in-out infinite;
    transition: 0.5s;
}
.aplayer-bar-wrap .aplayer-bar .aplayer-played {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #b7daff;
    height: 2px;
    animation: light 8s ease-in-out infinite;

    animation: light 8s ease-in-out infinite;
    transition: 0.5s;
}
.aplayer-bar-wrap {
    margin: 0 0 5px;
}
.aplayer-bar-wrap .aplayer-bar {
    position: relative;
    height: 2px;
    width: 100%;
    background: #cdcdcd;
    cursor: pointer !important;
}
.aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #aaa;
    height: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.aplayer-bar-wrap .aplayer-bar .aplayer-played {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0 /*;background:#87878d8a*/;
    height: 2px;
}
.aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    position: absolute;
    top: 0;
    right: 5px;
    margin-top: -4px;
    margin-right: -10px;
    height: 8px;
    width: 8px;
    border: 1px solid #ff7f4000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    cursor: pointer !important;
}
.aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb:hover {
    background: #b7daff;
}
